.homeContainer {
    padding: 1rem;
  }

  .homeBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .paginationBox {
    margin: 10px;
  }
  
  .homeCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.2rem;
  }

  .homeContainer h2 {
    margin: 0;
  }
  
  .paginationButton {
    padding: 8px 16px;
    background-color: #ff0088;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .paginationButton:hover {
    background-color: #c700d9;
  }
  
  .paginationButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .currentPage {
    margin: 0 16px;
    background-color:#ff0088;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 16px;
    font-weight: bold;
  }
  