.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
}

.container .link {
  text-decoration: none;
}

.logo {
  color: #fff;
  font-size: 25px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.navButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  width: 1%;
  height: 35px;
  background-color: #ff0088;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logButton:hover {
  background-color: #c700d9;
}


.newButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  min-width: 40px;
  width: 1%;
  height: 35px;
  background-color: #ff0088;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newButton:hover {
  background-color: #c700d9;
}
