.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #333;
  color: #fff;
}

.container .link {
  text-decoration: none;
}

.logo {
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  width: 1%;
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  padding: 15px;
  border-bottom: 2px solid transparent;
  margin-left: 4px;
  cursor: pointer;
}

.button:hover {
  color: #ff0088;
  border-bottom: 2px solid #ff0088;
}


